@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,800&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	display: inline-block;
	color: inherit;
}

body {
	background: url("../img/bg.webp") center / cover no-repeat fixed;
}

.wrapper {
	height: 100vh;
	width: 100%;
	overflow: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Roboto", serif;
	padding-top: 50px;
}

.container {
	width: 100%;
	max-width: 1200px;
	padding-inline: 15px;
	margin: 0 auto;
}

.title {
	font-size: 40px;
	font-weight: 800;
	line-height: 1.5;
	color: #000;
	text-align: center;
	margin-bottom: 50px;
	text-shadow: 0px 0px 20px #999;
}

.list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 20px;
	list-style: none;
}
.list__item {
	display: grid;
	min-height: 158px;
}

.list__link {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	line-height: 1.5;
	color: #000;
	text-align: left;
	transition:
		color 0.3s ease,
		border 0.3s ease,
		box-shadow 0.3s ease,
		background-color 0.3s ease;
	will-change: color, border, box-shadow, background-color;
}

.list__link:hover {
	color: #5565f7;
	border: 1px solid rgba(85, 101, 247, 0.3);
	box-shadow: 4px 8px 4px rgba(85, 101, 247, 0.25);
	background-color: rgba(255, 255, 255, 0.65);
}

.list__title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.list__description {
	font-size: 20px;
	font-weight: 500;
}
